@use 'variaveis';

.banner {
    padding: 2vw 5.6vw;
    position: relative;

    &__container {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;

        img {
            @media(max-width: 768px) {
                max-width: 100px;
                margin-right: 20px;
            }
        }
    }
    &__faixa {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: -15%;
        background-color: variaveis.$corDeFundoSecundaria;
        border: 4px solid silver;
        padding: 2.6vh;
        border-radius: 10px;
        @media(max-width: 768px) {
            margin-top: -50vw;

        }
    }
}
