@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../images/hero_desktop.jpeg);
    background-repeat: no-repeat;
    background-size: cover;


    @media (max-width: 768px) {
        background-image: url(../images/hero_desktop.jpeg);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -55px;
        text-align: center;
    }

    .button {
        margin-top: 2vw;
        margin-bottom: 8px;
    }

    &__content {
        margin-top: 100px;
        text-align: ce;
        max-width: 1024px;
        width: 100%;


        &__branding {
            max-width: 320px;

            @media (max-width:768px) {
                max-width: 180px;
            }
        }

        .button {
            max-width: 250px;

            @media (max-width:768px) {
                margin: 0 auto;
            }
        }

        .title--small {
            margin-bottom: 36px
        }

        h3 {
            text-transform: uppercase;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
        }
    }
}