$corDeFundo: #1a1a1a;
$corDeFundoSecundaria: black;
$corTextoPrincipal: silver;
$corTextoSecundario: white;
$corDeFundoBotaoPrimario: blue;
$corDeFundoBotaoSecundario: #0063e5;
$corDeFundoBotaoDark: #000;